<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="e.g John" name="first_name">
            <label for="floatingInput">First Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="e.g Doe" name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="name@example.com" name="email">
            <label for="floatingInput">Your Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
            <label for="floatingInput">Phone Number</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput"  placeholder="Comments" name="comments" style="height: 200px;">{{this.comments}}</textarea>
            <label for="floatingInput">Comments</label>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Add User</button>
    </div>

